body:after {
  background-image: url('images/InfShareStatsSquare.png');
  background-size: 80px 80px;
  position: fixed;
  top: 1.5em;
  left: 1.5em;
  display: inline-block;
  width: 80px; 
  height: 80px;
  content:"";
  border-radius: 15px;
}

.reveal section img {
  border: none;
  box-shadow: none;
  width: 50%;
  height: auto;
}